* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 30px;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}

.corpoAparelho {
    margin-top: -720px;
    position: relative;
}


.tela {
    position: relative;
    width: 350px;
    height: 740px;
    
}

.telaDesl {

}

.telaBlock {
    top: 35px;
    position: absolute;
    border: 1px solid blue;
    background-image: url(../img/lockscreen.jpg);
    width: 350px;
    height: 740px;
}

.cadeado {
    margin-top: 200px;
}