* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 30px;
}

body {
    text-align: center;
    background: linear-gradient(90deg, rgb(0, 81, 255), rgb(0, 204, 255));
    
}

.corpoAparelho {
    margin-top: -720px;
    position: relative;
    
}


.tela {
    position: relative;
    width: 350px;
    height: 740px;
    
}

.telaDesl {
    position: absolute;
    margin-top: 40px;
    width: 350px;
    height: 740px;
    background: linear-gradient(45deg, black, rgb(63, 62, 62));
}

/* --------------- */
/* LOCKSCREEN */
.telaBlock {
    top: 40px;
    position: absolute;
  
    background-image: url(../img/lockscreen03.png);
    background-size: 120%;
    background-repeat: no-repeat;
    width: 350px;
    height: 740px;

   
    transition: 300ms;

}

.clock {
    z-index: 99;
    position: absolute;
    left: 55%;
    
    top: 0;
    bottom: 0;
    margin-top: 100px;
    font-size: 50px;
}
.data {
    z-index: 99;
    position: absolute;
    left: 22%;
    
    top: 0;
    bottom: 0;
    margin-top: 180px;
    width: 250px;
}

.notifi1 {
    padding: 10px;
    text-align: left;
    margin-top: 300px;
    width: 300px;
    height: 95px;
    background-color: white;
    border-radius: 15px;
    opacity: 80%;
    color: black;
    font-size: 14px;
}

.notifi2 {
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    width: 300px;
    height: 95px;
    background-color: white;
    border-radius: 15px;
    opacity: 80%;
    color: black;
    font-size: 14px;
}

.instagramNotifi {
    width: 20px;
}

.cadeado {
    z-index: 99;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    margin-top: 600px;
    width: 50px;
    transition: 300ms;
    cursor: pointer;
}
.cadeado:hover {
    width: 80px;
    margin-top: 580px;
    
}

/* --------------- */
/* TELA INICIAL */
.telaInicial {
    top: 35px;
    position: absolute;
    
    background-image: url(../img/wallpaper01.png);
    background-size: 120%;
    background-repeat: no-repeat;
    width: 350px;
    height: 740px;
    transition: 300ms;
}

.pesquisar {
    
    align-items: center;
    text-align: left;
    z-index: 99;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    position: absolute;
    background-color: aliceblue;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: none;

    font-size: 21px;
    color: black;
   
}
.micGoogle {
    position: absolute;
    margin-top: 5px;
    left: 260px;
    width: 15px;
}
.digitar {
    opacity: 30%;
    align-items: center;
    text-align: left;
    z-index: 99;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    position: absolute;
    background-color: rgb(204, 228, 248);
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: none;

    font-size: 21px;
    color: black;
}

.flex-widgets {
    z-index: 99;
    top: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 300px;
    transition: 400ms;
}

.widgetClima {
    opacity: 95%;
    
    background: linear-gradient(-90deg, white, rgb(213, 223, 243));
    width: 300px;
    height: 150px;
    border-radius: 15px;
}
.widgetAgenda {
    position: relative;
    opacity: 95%;
    
    background-color: aliceblue;
    width: 140px;
    height: 140px;
    
    border-radius: 15px;
}

.widgetStore {
    opacity: 95%;
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    background-image: url(../img/widgetStore.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.widgetCamera {
    opacity: 95%;
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    background-image: url(../img/widgetCamera.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.widgetLigar {
    opacity: 95%;
    margin-top: -80px;
    margin-left: 160px;
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    background-image: url(../img/widgetPhone.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.widgetMensagem {
    opacity: 90%;
    margin-top: -80px;
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    background-image: url(../img/widgetMensagem.png);
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.widgetWhatsapp {
    margin-top: 15px;
    opacity: 95%;
    background-color: aliceblue;
    width: 60px;
    height: 60px;

    background-image: url(../img/iconWhatsapp.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    cursor: pointer;
}
.widgetInstagram {
    margin-top: 15px;
    opacity: 95%;
    background-color: aliceblue;
    width: 60px;
    height: 60px;

    background-image: url(../img/iconInstagram.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    cursor: pointer;
}
.widgetMusic {
    margin-top: 15px;
    opacity: 95%;
    background-color: aliceblue;
    width: 60px;
    height: 60px;

    background-image: url(../img/iconSpotify.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    cursor: pointer;
}
.widgetYoutube {
    margin-top: 15px;
    opacity: 95%;
    background-color: aliceblue;
    width: 60px;
    height: 60px;

    background-image: url(../img/iconYoutube.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    cursor: pointer;
}

.act-btn {
    z-index: 99;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 260px;
    align-items: center;
    justify-content: space-evenly;
    width: 320px;
    
}

.acts {
    width: 40px;
    transition: 300ms;
    cursor: pointer;
}

.acts:hover {
    opacity: 50%;
    filter: blur(5px);
}

/* --------------- */
/* BOTÕES */
.btnPower {
    z-index: 99;
    position: absolute;
    top: 285px;
    left: 350px;
    background-color: rgb(191, 213, 253);
    opacity: 40%;
    width: 30px;
    height: 50px;
    cursor: pointer;
}
.btnMais {
    z-index: 99;
    position: absolute;
    top: 135px;
    left: 350px;
    background-color: rgb(191, 213, 253);
    opacity: 40%;
    width: 30px;
    height: 60px;
    cursor: pointer;
}
.btnMenos {
    z-index: 99;
    position: absolute;
    top: 200px;
    left: 350px;
    background-color: rgb(191, 213, 253);
    opacity: 40%;
    width: 30px;
    height: 60px;
    cursor: pointer;
}



/* SUMIR OBJETOS */
.sumir {
    display: none;
}


/* ANIMAÇÕES */
.abrirHoriz {
    animation: abrirHoriz 400ms forwards;
}

@keyframes abrirHoriz {
    0% {
        width: 0px;
    }
    100% {
        width: 350px;
    }
}